<!doctype html>
<html lang="ja">

<head>
  <title>Signin Template for Bootstrap</title>
  <link href="/public/stylesheets/style.css" rel="stylesheet">

</head>

<body>
  <%- include("components/header") %>
  Top page
</body>

</html>
