<!doctype html>
<html lang="ja">

<head>
  <title>Signin Template for Bootstrap</title>
  <link href="/public/stylesheets/style.css" rel="stylesheet">

</head>

<body>
  <header>
    <div class="logo">
      <a href="/"><img src="/public/images/logo_300-200.png" alt="ロゴ" height="80" width="120"></a>
    </div>
    <div class="user-info"></div>
    <div class="logout">
      <a href="/">
        <img src="/public/images/header_icon_logout.png" alt="logout-icon">
        ログアウト
      </a>
    </div>
  </header>

  Top page
</body>

</html>
