<!doctype html>
<html lang="ja">

<head>
  <title>Signin Template for Bootstrap</title>
  <link rel="canonical" href="https://getbootstrap.jp/docs/5.3/examples/sign-in/">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="/public/stylesheets/signin.css" rel="stylesheet">

</head>

<body>
  Top page
</body>

</html>
