<!doctype html>
<html lang="ja">

<head>
  <title><%= title %></title>
  <link href="/public/stylesheets/style.css" rel="stylesheet">

</head>

<body>
  <%- include("components/header") %>
  <main>
    <section class="current-time">
      <p>現在時刻</p>
    </section>
    <section class="main-function">
      <a class="" href="/">打刻</a>
      <a class="" href="/attendanceRecord">勤怠管理</a>
      <a class="" href="/setting">設定</a>
    </section>
  </main>

</body>

</html>
