body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
}

header {
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.logout {
  height: 100%;
  display: flex;
}

.img{
  padding-top: 100px;
}

.logout a {
  background-color: black;
  width: 160px;
  color: #f2f2f2;
  text-decoration: none;
  line-height: 80px;
  text-align: center;
}

.logout a:hover{
  background-color: #53b14a;
}

.logout a:focus{
  background-color: #53b14a;
}
